@charset "UTF-8";
@font-face {
  font-family: "tuxlab-icon";
  src: url("/assets/fonts/tuxlab-icon/tuxlab-icon.eot");
  src: url("/assets/fonts/tuxlab-icon/tuxlab-icon.eot?#iefix") format("eot"), url("/assets/fonts/tuxlab-icon/tuxlab-icon.woff2") format("woff2"), url("/assets/fonts/tuxlab-icon/tuxlab-icon.woff") format("woff"), url("/assets/fonts/tuxlab-icon/tuxlab-icon.ttf") format("truetype"), url("/assets/fonts/tuxlab-icon/tuxlab-icon.svg#tuxlab-icon") format("svg"); }

.tuxicon-compass:before, .tuxicon-add:before, .tuxicon-aplus:before, .tuxicon-apple:before, .tuxicon-bar:before, .tuxicon-book:before, .tuxicon-checkmark:before, .tuxicon-code:before, .tuxicon-cog:before, .tuxicon-console:before, .tuxicon-cross:before, .tuxicon-database:before, .tuxicon-diagram:before, .tuxicon-down:before, .tuxicon-enter:before, .tuxicon-f:before, .tuxicon-facebook:before, .tuxicon-function:before, .tuxicon-google:before, .tuxicon-group:before, .tuxicon-home:before, .tuxicon-hourglass:before, .tuxicon-infinite:before, .tuxicon-journal:before, .tuxicon-leave:before, .tuxicon-left:before, .tuxicon-linkedin:before, .tuxicon-list:before, .tuxicon-location:before, .tuxicon-multiple:before, .tuxicon-pdf:before, .tuxicon-person:before, .tuxicon-potion:before, .tuxicon-profile:before, .tuxicon-refresh:before, .tuxicon-right:before, .tuxicon-rocket:before, .tuxicon-search:before, .tuxicon-server:before, .tuxicon-settings:before, .tuxicon-sharethis:before, .tuxicon-speaker:before, .tuxicon-tick:before, .tuxicon-timer:before, .tuxicon-tools:before, .tuxicon-twitter:before, .tuxicon-uncrossed:before, .tuxicon-up:before, .tuxicon-upload:before, .tuxicon-warning:before, .tuxicon-window:before, .tuxicon-wire:before, .tuxicon-bowtie:before {
  font-family: "tuxlab-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.tuxicon-compass:before {
  content: ""; }

.tuxicon-add:before {
  content: ""; }

.tuxicon-aplus:before {
  content: ""; }

.tuxicon-apple:before {
  content: ""; }

.tuxicon-bar:before {
  content: ""; }

.tuxicon-book:before {
  content: ""; }

.tuxicon-checkmark:before {
  content: ""; }

.tuxicon-code:before {
  content: ""; }

.tuxicon-cog:before {
  content: ""; }

.tuxicon-console:before {
  content: ""; }

.tuxicon-cross:before {
  content: ""; }

.tuxicon-database:before {
  content: ""; }

.tuxicon-diagram:before {
  content: ""; }

.tuxicon-down:before {
  content: ""; }

.tuxicon-enter:before {
  content: ""; }

.tuxicon-f:before {
  content: ""; }

.tuxicon-facebook:before {
  content: ""; }

.tuxicon-function:before {
  content: ""; }

.tuxicon-google:before {
  content: ""; }

.tuxicon-group:before {
  content: ""; }

.tuxicon-home:before {
  content: ""; }

.tuxicon-hourglass:before {
  content: ""; }

.tuxicon-infinite:before {
  content: ""; }

.tuxicon-journal:before {
  content: ""; }

.tuxicon-leave:before {
  content: ""; }

.tuxicon-left:before {
  content: ""; }

.tuxicon-linkedin:before {
  content: ""; }

.tuxicon-list:before {
  content: ""; }

.tuxicon-location:before {
  content: ""; }

.tuxicon-multiple:before {
  content: ""; }

.tuxicon-pdf:before {
  content: ""; }

.tuxicon-person:before {
  content: ""; }

.tuxicon-potion:before {
  content: ""; }

.tuxicon-profile:before {
  content: ""; }

.tuxicon-refresh:before {
  content: ""; }

.tuxicon-right:before {
  content: ""; }

.tuxicon-rocket:before {
  content: ""; }

.tuxicon-search:before {
  content: ""; }

.tuxicon-server:before {
  content: ""; }

.tuxicon-settings:before {
  content: ""; }

.tuxicon-sharethis:before {
  content: ""; }

.tuxicon-speaker:before {
  content: ""; }

.tuxicon-tick:before {
  content: ""; }

.tuxicon-timer:before {
  content: ""; }

.tuxicon-tools:before {
  content: ""; }

.tuxicon-twitter:before {
  content: ""; }

.tuxicon-uncrossed:before {
  content: ""; }

.tuxicon-up:before {
  content: ""; }

.tuxicon-upload:before {
  content: ""; }

.tuxicon-warning:before {
  content: ""; }

.tuxicon-window:before {
  content: ""; }

.tuxicon-wire:before {
  content: ""; }

.tuxicon-bowtie:before {
  content: ""; }
