@font-face {
	font-family: "tuxlab-icon";
	src: url('fonts/tuxlab-icon/tuxlab-icon.eot');
	src: url('fonts/tuxlab-icon/tuxlab-icon.eot?#iefix') format('eot'),
		url('fonts/tuxlab-icon/tuxlab-icon.woff2') format('woff2'),
		url('fonts/tuxlab-icon/tuxlab-icon.woff') format('woff'),
		url('fonts/tuxlab-icon/tuxlab-icon.ttf') format('truetype'),
		url('fonts/tuxlab-icon/tuxlab-icon.svg#tuxlab-icon') format('svg');
}

@mixin icon-styles {
	font-family: "tuxlab-icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == add {
		$char: "\E001";
	}
	@if $filename == apple {
		$char: "\E002";
	}
	@if $filename == bar {
		$char: "\E003";
	}
	@if $filename == checkmark {
		$char: "\E004";
	}
	@if $filename == cog {
		$char: "\E005";
	}
	@if $filename == console {
		$char: "\E006";
	}
	@if $filename == cross {
		$char: "\E007";
	}
	@if $filename == database {
		$char: "\E008";
	}
	@if $filename == diagram {
		$char: "\E009";
	}
	@if $filename == down {
		$char: "\E00A";
	}
	@if $filename == f {
		$char: "\E00B";
	}
	@if $filename == facebook {
		$char: "\E00C";
	}
	@if $filename == function {
		$char: "\E00D";
	}
	@if $filename == group {
		$char: "\E00E";
	}
	@if $filename == hourglass {
		$char: "\E00F";
	}
	@if $filename == infinite {
		$char: "\E010";
	}
	@if $filename == journal {
		$char: "\E011";
	}
	@if $filename == leave {
		$char: "\E012";
	}
	@if $filename == left {
		$char: "\E013";
	}
	@if $filename == linkedin {
		$char: "\E014";
	}
	@if $filename == list {
		$char: "\E015";
	}
	@if $filename == multiple {
		$char: "\E016";
	}
	@if $filename == pdf {
		$char: "\E017";
	}
	@if $filename == potion {
		$char: "\E018";
	}
	@if $filename == profile {
		$char: "\E019";
	}
	@if $filename == refresh {
		$char: "\E01A";
	}
	@if $filename == right {
		$char: "\E01B";
	}
	@if $filename == rocket {
		$char: "\E01C";
	}
	@if $filename == server {
		$char: "\E01D";
	}
	@if $filename == settings {
		$char: "\E01E";
	}
	@if $filename == sharethis {
		$char: "\E01F";
	}
	@if $filename == timer {
		$char: "\E020";
	}
	@if $filename == tools {
		$char: "\E021";
	}
	@if $filename == twitter {
		$char: "\E022";
	}
	@if $filename == uncrossed {
		$char: "\E023";
	}
	@if $filename == up {
		$char: "\E024";
	}
	@if $filename == upload {
		$char: "\E025";
	}
	@if $filename == warning {
		$char: "\E026";
	}
	@if $filename == window {
		$char: "\E027";
	}
	@if $filename == wire {
		$char: "\E028";
	}
	@if $filename == xml {
		$char: "\E029";
	}
	@if $filename == bowtie {
		$char: "\E02A";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-add {
	@include icon(add);
}
.icon-apple {
	@include icon(apple);
}
.icon-bar {
	@include icon(bar);
}
.icon-checkmark {
	@include icon(checkmark);
}
.icon-cog {
	@include icon(cog);
}
.icon-console {
	@include icon(console);
}
.icon-cross {
	@include icon(cross);
}
.icon-database {
	@include icon(database);
}
.icon-diagram {
	@include icon(diagram);
}
.icon-down {
	@include icon(down);
}
.icon-f {
	@include icon(f);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-function {
	@include icon(function);
}
.icon-group {
	@include icon(group);
}
.icon-hourglass {
	@include icon(hourglass);
}
.icon-infinite {
	@include icon(infinite);
}
.icon-journal {
	@include icon(journal);
}
.icon-leave {
	@include icon(leave);
}
.icon-left {
	@include icon(left);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-list {
	@include icon(list);
}
.icon-multiple {
	@include icon(multiple);
}
.icon-pdf {
	@include icon(pdf);
}
.icon-potion {
	@include icon(potion);
}
.icon-profile {
	@include icon(profile);
}
.icon-refresh {
	@include icon(refresh);
}
.icon-right {
	@include icon(right);
}
.icon-rocket {
	@include icon(rocket);
}
.icon-server {
	@include icon(server);
}
.icon-settings {
	@include icon(settings);
}
.icon-sharethis {
	@include icon(sharethis);
}
.icon-timer {
	@include icon(timer);
}
.icon-tools {
	@include icon(tools);
}
.icon-twitter {
	@include icon(twitter);
}
.icon-uncrossed {
	@include icon(uncrossed);
}
.icon-up {
	@include icon(up);
}
.icon-upload {
	@include icon(upload);
}
.icon-warning {
	@include icon(warning);
}
.icon-window {
	@include icon(window);
}
.icon-wire {
	@include icon(wire);
}
.icon-xml {
	@include icon(xml);
}
.icon-bowtie {
	@include icon(bowtie);
}
