@font-face {
	font-family: "tuxlab-icon";
	src: url('/assets/fonts/tuxlab-icon/tuxlab-icon.eot');
	src: url('/assets/fonts/tuxlab-icon/tuxlab-icon.eot?#iefix') format('eot'),
		url('/assets/fonts/tuxlab-icon/tuxlab-icon.woff2') format('woff2'),
		url('/assets/fonts/tuxlab-icon/tuxlab-icon.woff') format('woff'),
		url('/assets/fonts/tuxlab-icon/tuxlab-icon.ttf') format('truetype'),
		url('/assets/fonts/tuxlab-icon/tuxlab-icon.svg#tuxlab-icon') format('svg');
}

@mixin tuxicon-styles {
	font-family: "tuxlab-icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%tuxicon {
	@include tuxicon-styles;
}

@function tuxicon-char($filename) {
	$char: "";

	@if $filename == bowtie {
		$char: "\E001";
	}
	@if $filename == add {
		$char: "\E002";
	}
	@if $filename == apple {
		$char: "\E003";
	}
	@if $filename == bar {
		$char: "\E004";
	}
	@if $filename == checkmark {
		$char: "\E005";
	}
	@if $filename == cog {
		$char: "\E006";
	}
	@if $filename == console {
		$char: "\E007";
	}
	@if $filename == cross {
		$char: "\E008";
	}
	@if $filename == database {
		$char: "\E009";
	}
	@if $filename == diagram {
		$char: "\E00A";
	}
	@if $filename == down {
		$char: "\E00B";
	}
	@if $filename == f {
		$char: "\E00C";
	}
	@if $filename == facebook {
		$char: "\E00D";
	}
	@if $filename == function {
		$char: "\E00E";
	}
	@if $filename == google {
		$char: "\E00F";
	}
	@if $filename == group {
		$char: "\E010";
	}
	@if $filename == hourglass {
		$char: "\E011";
	}
	@if $filename == infinite {
		$char: "\E012";
	}
	@if $filename == journal {
		$char: "\E013";
	}
	@if $filename == leave {
		$char: "\E014";
	}
	@if $filename == left {
		$char: "\E015";
	}
	@if $filename == linkedin {
		$char: "\E016";
	}
	@if $filename == list {
		$char: "\E017";
	}
	@if $filename == multiple {
		$char: "\E018";
	}
	@if $filename == pdf {
		$char: "\E019";
	}
	@if $filename == potion {
		$char: "\E01A";
	}
	@if $filename == profile {
		$char: "\E01B";
	}
	@if $filename == refresh {
		$char: "\E01C";
	}
	@if $filename == right {
		$char: "\E01D";
	}
	@if $filename == rocket {
		$char: "\E01E";
	}
	@if $filename == server {
		$char: "\E01F";
	}
	@if $filename == settings {
		$char: "\E020";
	}
	@if $filename == sharethis {
		$char: "\E021";
	}
	@if $filename == tick {
		$char: "\E022";
	}
	@if $filename == timer {
		$char: "\E023";
	}
	@if $filename == tools {
		$char: "\E024";
	}
	@if $filename == twitter {
		$char: "\E025";
	}
	@if $filename == uncrossed {
		$char: "\E026";
	}
	@if $filename == up {
		$char: "\E027";
	}
	@if $filename == upload {
		$char: "\E028";
	}
	@if $filename == warning {
		$char: "\E029";
	}
	@if $filename == window {
		$char: "\E02A";
	}
	@if $filename == wire {
		$char: "\E02B";
	}
	@if $filename == xml {
		$char: "\E02C";
	}

	@return $char;
}

@mixin tuxicon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %tuxicon;
		} @else {
			@include tuxicon-styles;
		}
		content: tuxicon-char($filename);
	}
}

.tuxicon-bowtie {
	@include tuxicon(bowtie);
}
.tuxicon-add {
	@include tuxicon(add);
}
.tuxicon-apple {
	@include tuxicon(apple);
}
.tuxicon-bar {
	@include tuxicon(bar);
}
.tuxicon-checkmark {
	@include tuxicon(checkmark);
}
.tuxicon-cog {
	@include tuxicon(cog);
}
.tuxicon-console {
	@include tuxicon(console);
}
.tuxicon-cross {
	@include tuxicon(cross);
}
.tuxicon-database {
	@include tuxicon(database);
}
.tuxicon-diagram {
	@include tuxicon(diagram);
}
.tuxicon-down {
	@include tuxicon(down);
}
.tuxicon-f {
	@include tuxicon(f);
}
.tuxicon-facebook {
	@include tuxicon(facebook);
}
.tuxicon-function {
	@include tuxicon(function);
}
.tuxicon-google {
	@include tuxicon(google);
}
.tuxicon-group {
	@include tuxicon(group);
}
.tuxicon-hourglass {
	@include tuxicon(hourglass);
}
.tuxicon-infinite {
	@include tuxicon(infinite);
}
.tuxicon-journal {
	@include tuxicon(journal);
}
.tuxicon-leave {
	@include tuxicon(leave);
}
.tuxicon-left {
	@include tuxicon(left);
}
.tuxicon-linkedin {
	@include tuxicon(linkedin);
}
.tuxicon-list {
	@include tuxicon(list);
}
.tuxicon-multiple {
	@include tuxicon(multiple);
}
.tuxicon-pdf {
	@include tuxicon(pdf);
}
.tuxicon-potion {
	@include tuxicon(potion);
}
.tuxicon-profile {
	@include tuxicon(profile);
}
.tuxicon-refresh {
	@include tuxicon(refresh);
}
.tuxicon-right {
	@include tuxicon(right);
}
.tuxicon-rocket {
	@include tuxicon(rocket);
}
.tuxicon-server {
	@include tuxicon(server);
}
.tuxicon-settings {
	@include tuxicon(settings);
}
.tuxicon-sharethis {
	@include tuxicon(sharethis);
}
.tuxicon-tick {
	@include tuxicon(tick);
}
.tuxicon-timer {
	@include tuxicon(timer);
}
.tuxicon-tools {
	@include tuxicon(tools);
}
.tuxicon-twitter {
	@include tuxicon(twitter);
}
.tuxicon-uncrossed {
	@include tuxicon(uncrossed);
}
.tuxicon-up {
	@include tuxicon(up);
}
.tuxicon-upload {
	@include tuxicon(upload);
}
.tuxicon-warning {
	@include tuxicon(warning);
}
.tuxicon-window {
	@include tuxicon(window);
}
.tuxicon-wire {
	@include tuxicon(wire);
}
.tuxicon-xml {
	@include tuxicon(xml);
}
